.wrapper {
  margin: 30px 0;
  box-shadow: 18px 16px 12px 11px rgba(34, 60, 80, 0.2);
  border: 3px inset rgba(28, 110, 164, 0.36);
  border-radius: 40px 0px 40px 0px;
  padding: 10px;
  transition: .5s;
}
.wrapper:hover{
  cursor: pointer;
  border: 3px inset rgba(173, 8, 206, 0.36);
  box-shadow: 18px 16px 12px 11px rgba(173, 8, 206, 0.36);
}